@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Lusitana:wght@400;700&display=swap');

:root {
  --foreground-rgb: 244 245 240;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --colors-primary: 244 245 240;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  background: rgb(var(--colors-primary));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

#foguete{
  animation: appear linear;
  animation-timeline: view();
  animation-range: entry;
}

@keyframes appear {
  from {scale: .0; opacity: 0;}
  to {scale: 1; opacity: 1;}
}

html {
  overflow-y: hidden;
}

#content{
  cursor: none;

}


::-webkit-scrollbar{
  width: 1vh;
  size: 20px;
  transition: all linear;
  scrollbar-gutter: 1vh ;
  
}
::-webkit-scrollbar-track{
  background:transparent;
  scrollbar-gutter: 1vh ;
}
::-webkit-scrollbar-track-piece:start{
  background:transparent;
  margin-top: 5vh;
  scrollbar-gutter: 1vh ;
}
::-webkit-scrollbar-track-piece:end{
  background:transparent;
  margin-bottom: 12vh;
  scrollbar-gutter: 1vh ;
}
::-webkit-scrollbar-thumb{
  background: #A38DEB;
  border-radius: 100px;
  max-height: 50%;
  
  
}

.flare {
  position: fixed;
  border: 2px solid #535353;
  border-radius: 50%;
  pointer-events: none;
  transform: translate(-50%, -50%);
  z-index: 999999 !important ;
  backdrop-filter: blur(10px);
  background-color: #46464665;
  transition: width 0.2s ease-in-out, height 0.2s ease-in-out;
}

/* We need to remove this custom cursor in mobile devices */
@media screen and (max-width: 768px) {
  .flare {
    width: 0;
    height: 0;
    transition: width 0.2s ease-in-out, height 0.2s ease-in-out,
      opacity 0.2s ease-in-out;
  }
}
.flare.pointer {
  opacity: 0 !important;
  transition: width 0.2s ease-in-out, height 0.2s ease-in-out, opacity 0.2s ease-in-out;
}


